{% load static %}

{% block content %}
    
<div class="pageFooterAreaWrap position-relative text-center text-sm-left" data-parallax="scroll" data-image-src="http://placehold.it/1920x870">
			<!-- pageFooterWrapHolder -->
			<div class="container position-relative pageFooterWrapHolder">
				<!-- subscribeAsideBlock -->
				<aside class="subscribeAsideBlock">
					<form action="javascript:void(0);">
						<div class="row">
							<div class="col-12 col-md-7">
								<h3 class="text-white text-uppercase">Sign up for our newsletter:</h3>
								<p>Join over 5,000 people who get free</p>
							</div>
							<div class="col-12 col-md-5">
								<!-- input group -->
								<div class="input-group">
									<input type="email" class="form-control" placeholder="Your Email">
									<div class="input-group-append">
										<!-- button -->
										<button class="btn btnTheme text-uppercase" type="submit" data-hover="Send">
											<span class="d-block btnText">Subscribe</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</aside>
				<!-- separator -->
				<hr class="separator">
				<!-- pageFooter -->
				<footer id="pageFooter" class="position-relative">
					<div class="row">
						<div class="col col-12 col-md-9 col-lg-6 order-lg-2">
							<!-- ftLinksNav -->
							<nav class="ftLinksNav">
								<div class="row">
									<div class="col-12 col-sm-6">
										<h3 class="text-white">Information</h3>
										<ul class="list-unstyled">
											<li><a href="javascript:void(0);">Term &amp; Condition</a></li>
											<li><a href="javascript:void(0);">Privacy policy</a></li>
											<li><a href="javascript:void(0);">Customer Service</a></li>
											<li><a href="javascript:void(0);">FAQs</a></li>
										</ul>
									</div>
									<div class="col-12 col-sm-6">
										<h3 class="text-white">Quick Link</h3>
										<ul class="list-unstyled">
											<li><a href="javascript:void(0);">Latest News</a></li>
											<li><a href="javascript:void(0);">Products</a></li>
											<li><a href="javascript:void(0);">Best Design</a></li>
											<li><a href="javascript:void(0);">Customs Services</a></li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
						<div class="col col-12 col-md-3 col-lg-2 order-lg-3 text-center text-md-left">
							<h3 class="text-white">Social</h3>
							<!-- ftSocialLinks -->
							<ul class="list-unstyled socialNetworks ftSocialLinks">
								<li>
									<a href="javascript:void(0);">
										<i class="fab fa-facebook-f icn text-center"><span class="sr-only">icon</span></i>
										<strong class="text font-weight-normal">Facebook</strong>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<i class="fab fa-twitter icn text-center"><span class="sr-only">icon</span></i>
										<strong class="text font-weight-normal">Twitter</strong>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<i class="fab fa-pinterest icn text-center"><span class="sr-only">icon</span></i>
										<strong class="text font-weight-normal">Pinterest</strong>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<i class="fab fa-instagram icn text-center"><span class="sr-only">icon</span></i>
										<strong class="text font-weight-normal">instagram</strong>
									</a>
								</li>
							</ul>
						</div>
						<div class="col col-12 col-lg-4 order-lg-1 text-center text-lg-left position-static">
							<!-- logo -->
							<div class="logo">
								<a href="home.html">
									<img src="images/logo.png" alt="kitzen">
								</a>
							</div>
							<!-- ftAddress -->
							<address class="d-block ftAddress">
								<!-- adrList -->
								<ul class="list-unstyled adrList mb-0">
									<li>
										<i class="fas fa-map-marker-alt flex-shrink-0 icn"><span class="sr-only">icon</span></i>
										<strong class="font-weight-normal text d-block">198 Collins St, Melbourne, NY</strong>
									</li>
									<li>
										<i class="fas fa-phone fa-flip-horizontal flex-shrink-0 icn"><span class="sr-only">icon</span></i>
										<strong class="font-weight-normal text d-block"><a href="tel:&#049;&#050;&#051;&#052;&#053;&#054;&#055;&#056;&#057;&#049;&#048;">(12) 345 678 910</a></strong>
									</li>
									<li>
										<i class="fas fa-envelope flex-shrink-0 icn"><span class="sr-only">icon</span></i>
										<strong class="font-weight-normal text d-block"><a href="mailto:&#068;&#101;&#101;&#114;&#067;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#068;&#101;&#101;&#114;&#067;&#114;&#101;&#097;&#116;&#105;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></strong>
									</li>
								</ul>
							</address>
							<!-- copyrightWrap -->
							<div class="copyrightWrap">
								<p>Copyright &copy; 2019 <a href="{% url 'index' %}">Kitzen Inc</a>.</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
<span id="back-top" class="text-center rounded-circle fa fa-angle-up"></span>
<div id="loader" class="loader-holder">
    <div class="block">
        <div class="dot white"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

{% endblock %}