{% load static %}
{% url 'index' as index_url %}
{% url 'project' as project_url %}
{% url 'about-us' as about_url %}
{% url 'contact' as contact_url %}

{% block content %}
<header id="pageHeader" class="pageHeader04">
    <!-- pageHeaderTopBar -->
    <div class="pageHeaderTopBar pageHeaderTopBar04 bg-light">
        <div class="container clearfix position-relative">
            <div class="row">
                <div class="col-3 col-lg-7">
                    <!-- topBarContactList -->
                    <ul class="list-unstyled topBarContactList align-items-center mb-0 d-none d-md-flex">
                        <li>
                            <a href="tel:{{ contact_info.phone }}">
                                <i class="ti-mobile icn"><span class="sr-only">icon</span></i>
                                <span class="d-none d-lg-inline">{{ contact_info.phone }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:{{ contact_info.email }}">
                                <i class="ti-email icn"><span class="sr-only">icon</span></i>
                                <span class="d-none d-lg-inline">{{ contact_info.email }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-9 col-lg-5 d-flex justify-content-end">
                    <!-- shareWTitleWrap -->
                    <div class="shareWTitleWrap d-flex align-items-center">
                        <!-- shareTitle -->
                        <strong class="shareTitle text-capitalize font-weight-normal d-none d-md-block">Следи за нами:</strong>
                        <!-- socialLinksSimple -->
                        <ul class="list-unstyled socialNetworks socialLinksSimple d-flex align-items-center justify-content-end mb-0">
                            {% for Social in socials %}
                            <li>
                                <a href="{{ Social.link }}">
                                    <span class="{{ Social.icon }}"><span class="sr-only">{{ Social.name }}</span></span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="headerFixer">
        <div class="bg-white">
            <!-- pageHeaderHolder -->
            <div class="container clearfix pageHeaderHolder pageHeaderHolder04">
                <!-- logo -->
                <div class="logo logo04 alignleft">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'assets/images/logo.png' %}" alt="kitzen">
                    </a>
                </div>
                <!-- pageNavHolder -->
                <div class="pageNavHolder alignright d-flex justify-content-end align-items-md-start">
                    <!-- pageNav navbar -->
                    <nav id="pageNav" class="navbar navbar-expand-lg order-2 order-lg-1">
                        <!-- pageMainNavOpener -->
                        <button class="navbar-toggler pageMainNavOpener pageMainNavOpener04" type="button" data-toggle="collapse" data-target="#pageMainNavCollapse" aria-controls="pageMainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- mainNavCollapse navbar collapse -->
                        <div class="collapse navbar-collapse mainNavCollapse mainNavCollapse04" id="pageMainNavCollapse">
                            <!-- pageMainNavigation navbar nav -->
                            <ul class="navbar-nav pageMainNavigation pageMainNavigation04 justify-content-md-end">
                                <li class="nav-item">
                                    <a class="nav-link fwMedium text-uppercase dropdown-toggle" href="{% url 'index' %}">ГЛАВНАЯ <span class="sr-only">(current)</span></a>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fwMedium text-uppercase dropdown-toggle" href="{% url 'project' %}">ПРОЕКТЫ <span class="sr-only">(current)</span></a>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fwMedium text-uppercase dropdown-toggle" href="{% url 'about-us' %}">О НАС <span class="sr-only">(current)</span></a>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link fwMedium text-uppercase dropdown-toggle" href="{% url 'contact' %}">КОНТАКТЫ <span class="sr-only">(current)</span></a>
                                    
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <a href="javascript:void(0);" class="btn btnThemeOutine btnThemeOutineNotWhite text-uppercase order-1 order-lg-2 flex-shrink-0 d-none d-sm-inline-block" data-hover="ЗАКАЗАТЬ">
                        <span class="d-block btnText">ЗАКАЗАТЬ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}