{% extends 'base_page.html' %}
{% load static %}

{% block content %}
<main>
    <!-- pageBdWrapNav -->
    <nav class="pageBdWrapNav bg-light"  aria-label="breadcrumb">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-12 col-md-7">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb pageBreadcrumb m-0 p-0 text-capitalize">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">
                                <i class="fas fa-home icn"><span class="sr-only">icon</span></i>
                                ГЛАВНАЯ
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">О НАС</li>
                    </ol>
                </div>
                <div class="col-12 col-md-5 d-none d-md-flex align-items-md-center justify-content-md-end">
                    <!-- title -->
                    <strong class="title d-block text-right fontRoboto fwMedium text-capitalize text-dark">О НАС</strong>
                </div>
            </div>
        </div>
    </nav>
    <!-- contactAreaBlock -->
    <!-- abtIntroAsideBlock -->
    {% for About in about %}
    <aside class="abtIntroAsideBlock contentBlock">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <!-- headingHead -->
                    <header class="headingHead">
                        <!-- blockH -->
                        <h2 class="text-uppercase blockH font-weight-bold mb-0">
                            <!-- hTitle -->
                            <strong class="font-weight-normal hTitle d-block fontBase">О нас</strong>
                            <span class="d-block">{{ About.title }}</span>
                        </h2>
                    </header>
                </div>
                <div class="col-12 col-md-8">
                    <p>{{ About.description }}</p>
                </div>
            </div>
            <!-- featuresList -->
            <ul class="list-unstyled d-flex flex-wrap justify-content-between featuresList featuresList04 text-left">
                <li class="hasOver">
                    <i class="{{ About.first_counter_icon }} inaccessible flex-shrink-0"><span class="sr-only">icon</span></i>
                    <div class="extraWrap">
                        <h3 class="fwSemiBold fontBase counter">{{ About.first_counter }}</h3>
                        <h4 class="font-weight-normal fontBase">{{ About.first_counter_name }}</h4>
                    </div>
                </li>
                <li class="hasOver">
                    <i class="{{ About.second_counter_icon }} inaccessible flex-shrink-0"><span class="sr-only">icon</span></i>
                    <div class="extraWrap">
                        <h3 class="fwSemiBold fontBase counter">{{ About.second_counter }}</h3>
                        <h4 class="font-weight-normal fontBase">{{ About.second_counter_name }}</h4>
                    </div>
                </li>
                <li class="hasOver">
                    <i class="{{ About.third_counter_icon }} inaccessible flex-shrink-0"><span class="sr-only">icon</span></i>
                    <div class="extraWrap">
                        <h3 class="fwSemiBold fontBase counter">{{ About.third_counter }}</h3>
                        <h4 class="font-weight-normal fontBase">{{ About.third_counter_name }}</h4>
                    </div>
                </li>
                <li class="hasOver">
                    <i class="{{ About.fourth_counter_icon }} inaccessible flex-shrink-0"><span class="sr-only">icon</span></i>
                    <div class="extraWrap">
                        <h3 class="fwSemiBold fontBase counter">{{ About.fourth_counter }}</h3>
                        <h4 class="font-weight-normal fontBase">{{ About.fourth_counter_name }}</h4>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div class="container">
        <!-- separatorDefault -->
        <hr class="d-block separatorDefault mt-0 mb-0">
    </div>
    <!-- wcuBlock -->
    <section class="wcuBlock contentBlock">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 order-md-2">
                    <div class="extraWrap pl-xl-5">
                        <!-- headingHead -->
                        <header class="headingHead">
                            <!-- blockH -->
                            <h2 class="text-uppercase blockH font-weight-bold">
                                <!-- hTitle -->
                                <strong class="font-weight-normal hTitle d-block fontBase">Преимущества</strong>
                                <span class="d-block">{{ About.why_title }}</span>
                            </h2>
                            <p>{{ About.why_description }}</p>
                        </header>
                        <!-- yoeListing -->
                        <ul class="list-unstyled yoeListing pl-xl-5">
                            <li class="hasOver">
                                <!-- titleWrap -->
                                <div class="titleWrap d-flex align-items-center">
                                    <i class="{{ About.reason_one_icon }} d-block icn flex-shrink-0"><span class="sr-only">icon</span></i>
                                    <h3>{{ About.reason_one_title }}</h3>
                                </div>
                                <p>{{ About.reason_one_description }}</p>
                            </li>
                            <li class="hasOver">
                                <!-- titleWrap -->
                                <div class="titleWrap d-flex align-items-center">
                                    <i class="{{ About.reason_two_icon }} d-block icn flex-shrink-0"><span class="sr-only">icon</span></i>
                                    <h3>{{ About.reason_two_title }}</h3>
                                </div>
                                <p>{{ About.reason_two_description }}</p>
                            </li>
                            <li class="hasOver">
                                <!-- titleWrap -->
                                <div class="titleWrap d-flex align-items-center">
                                    <i class="{{ About.reason_three_icon }} d-block icn flex-shrink-0"><span class="sr-only">icon</span></i>
                                    <h3>{{ About.reason_three_title }}</h3>
                                </div>
                                <p>{{ About.reason_three_description }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 d-none d-md-block col-md-5 order-md-1">
                    <!-- wcuBlockImageHolder -->
                    <div class="wcuBlockImageHolder bgCover d-flex w-100 h-100 rounded" style="background-image: url({{ About.palax_image.url }});">
                        <img class="rounded" src="{{ About.why_image.url }}" alt="Furniture">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- mkCallAside -->
    <aside class="mkCallAside animFour position-relative bgCover text-center text-md-left text-white" data-parallax="scroll" data-image-src="{{ About.palax_image.url }}">
        <div class="container mkCallAsideHolder position-relative">
            <div class="align">
                <div class="row align-items-md-center">
                    <div class="col-12 col-md-8">
                        <h2 class="text-uppercase font-weight-bold">{{ About.add_title }}</h2>
                        <p>{{ About.add_description }}</p>
                    </div>
                    <div class="col-12 col-md-4 text-md-right">
                        <a href="tel:{{ About.add_phone }}" class="btn btnTheme btnThemeWhiteInverse fontRoboto btnRoudedLarge" data-hover="{{ About.add_phone }}">
                            <span class="btnText d-block">
                                <i class="ei_icon_phone btnIcn"><span class="sr-only">icon</span></i>
                                <span>{{ About.add_phone }}</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- servicesBlock -->
    <section class="contentBlock servicesBlock servicesBlock04 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                    <!-- headingHead -->
                    <header class="headingHead">
                        <!-- blockH -->
                        <h2 class="text-uppercase blockH font-weight-bold">
                            <!-- hTitle -->
                            <strong class="font-weight-normal hTitle d-block fontBase">Услуги</strong>
                            <span class="d-block">Что мы делаем?</span>
                        </h2>
                        <p>Наши услуги, только высокого качества и экономичны</p>
                    </header>
                </div>
            </div>
            <div class="row d-block">
                <!-- swwdColumnsSlider -->
                <div class="swwdColumnsSlider slickSlider">
                    {% for Project in projects %}
                    <div class="col-12">
                        <!-- swwdPost -->
                        <article class="swwdPost hasOver">
                            <div class="aligncenter">
                                <img class="d-block w-100" src="{{ Project.image.url }}" alt="{{ Project.name }}">
                            </div>
                            <h3 class="text-capitalize"><a href="services3.html">{{ Project.name }}</a></h3>
                            <p>{{ Project.description }}</p>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- reKtAsideBlock -->
    <aside class="reKtAsideBlock animFour position-relative text-center text-white bgCover" data-parallax="scroll" data-image-src="http://placehold.it/1920x420">
        <div class="container holder position-relative">
            <div class="align">
                <div class="row">
                    <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                        <h2 class="text-uppercase font-weight-bold">Remodel Your Kitchen</h2>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>
                        <!-- btnPlay -->
                        <a data-fancybox="true" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="btnPlay btnPlay04 lightbox position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                            <span class="sr-only">play</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- otwBlock -->
    <section class="contentBlock otwBlock text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                    <!-- headingHead -->
                    <header class="headingHead">
                        <!-- blockH -->
                        <h2 class="text-uppercase blockH font-weight-bold">
                            <!-- hTitle -->
                            <strong class="font-weight-normal hTitle d-block fontBase">Наша команда</strong>
                            <span class="d-block">работайте с нами</span>
                        </h2>
                        <p>Опыт, профессионализм</p>
                    </header>
                </div>
            </div>
            <div class="row">
                {% for Employee in employers %}
                <div class="col-12 col-sm-6 col-lg-3 ">
                    <!-- teamColumn -->
                    <article class="teamColumn hasOver position-relative rounded">
                        <!-- imgHolder -->
                        <div class="aligncenter imgHolder">
                            <img class="d-block w-100" src="{{ Employee.image.url }}" alt="">
                        </div>
                        <!-- captionWrap -->
                        <div class="captionWrap">
                            <h3 class="text-capitalize"><a href="#">{{ Employee.name }}</a></h3>
                            <h4 class="fontBase font-weight-normal text-capitalize">{{ Employee.position }}</h4>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
</main>
    
{% endblock %}