{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the description -->
	<meta name="description" content="Mebel">
	<!-- set the Keyword -->
	<meta name="keywords" content="">
	<meta name="title" content="Mebel">
	<!-- include poppins google font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i%7CRoboto:400,400i,500,500i,700,700i" rel="stylesheet">
	<!-- set the page title -->
	<title>Kitzen | Modern Kitchen HTML Template</title>
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
	<!-- include the site Fontsicon stylesheet -->
	<link rel="stylesheet" href="{% static 'assets/css/fontsicon.css' %}">
	<!-- include the site Plugins stylesheet -->
	<link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'assets/style.css' %}">
	<!-- include theme color setting stylesheet -->
	<link rel="stylesheet" href="{% static 'assets/css/colors.css' %}">
	<!-- include the site responsive stylesheet -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		
        {% block content %}
        
        {% endblock %}
    
		<!-- pageFooterAreaWrap -->
		{% include '_footer.html' %}
	</div>
	<!-- include jQuery library -->
	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<!-- include Plugins JavaScript -->
	<script src="{% static 'assets/js/plugins.js' %}"></script>
	<!-- include custom JavaScript -->
	<script src="{% static 'assets/js/jquery.main.js' %}"></script>
</body>
</html>