{% extends 'base_page.html' %}
{% load static %}

{% block content %}
<main>
    <!-- pageBdWrapNav -->
    <nav class="pageBdWrapNav bg-light"  aria-label="breadcrumb">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-12 col-md-7">
                    <!-- breadcrumb -->
                    <ol class="breadcrumb pageBreadcrumb m-0 p-0 text-capitalize">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">
                                <i class="fas fa-home icn"><span class="sr-only">icon</span></i>
                                ГЛАВНАЯ
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">КОНТАКТЫ</li>
                    </ol>
                </div>
                <div class="col-12 col-md-5 d-none d-md-flex align-items-md-center justify-content-md-end">
                    <!-- title -->
                    <strong class="title d-block text-right fontRoboto fwMedium text-capitalize text-dark">КОНТАКТЫ</strong>
                </div>
            </div>
        </div>
    </nav>
    <!-- contactAreaBlock -->
    <section class="contactAreaBlock contentBlock">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-12 col-md-5">
                    <h2 class="text-uppercase">Мы всегда на связи</h2>
                    <p><span class="fontRoboto">Если у вас возникли дополнительные вопросы, мы будем рады на них ответить!</span></p>
                    <!-- ctAddress -->
                     {% for Contact in contact %}
                    <address class="ctAddress text-dark">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <i class="ei_icon_pin_alt icn text-center flex-shrink-0"><span class="sr-only">icon</span></i>
                                <strong class="text font-weight-normal">{{ Contact.address }}</strong>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class="ei_icon_mail_alt text-center icn flex-shrink-0"><span class="sr-only">icon</span></i>
                                <strong class="text font-weight-normal"><a href="mailto:{{ Contact.email }}">{{ Contact.email }}</a></strong>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class="ei_icon_mobile icn text-center flex-shrink-0"><span class="sr-only">icon</span></i>
                                <strong class="text font-weight-normal"><a href="tel:{{ Contact.phone }}">{{ Contact.phone }}</a></strong>
                            </li>
                        </ul>
                    </address>
                    {% endfor %}
                </div>
                <div class="col-12 col-md-6 offset-xl-1 col-xl-6">
                    <!-- widgetCtForm -->
                    <aside class="widget widgetCtForm hasShadow bg-white mb-4">
                        <form action="javascript:void(0);">
                            <!-- form group -->
                            <div class="form-group">
                                <input type="text" class="form-control w-100 d-block" placeholder="Ваше имя *">
                            </div>
                            <!-- form group -->
                            <div class="form-group">
                                <input type="tel" class="form-control w-100 d-block" placeholder="Телефон">
                            </div>
                            <!-- form group -->
                            <div class="form-group">
                                <textarea class="form-control d-block w-100" placeholder="Сообщение*"></textarea>
                            </div>
                            <!-- button -->
                            <button class="btn btnTheme d-block w-100 text-uppercase" type="submit" data-hover="СПРОСИТЬ">
                                <span class="d-block btnText">СПРОСИТЬ</span>
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
            <!-- ctMapHolder -->
            <div class="ctMapHolder position-relative ">
                <!-- map -->
                <span class="bgCover map d-block" style="background-image: url(images/mapPlaceholder01.jpg);"><span class="sr-only">map placeholder</span></span>
            </div>
        </div>
    </section>
</main>
    
{% endblock %}