{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- pageHeader -->
{% include '_header.html' %}
<main>
    <!-- bannerSliderBlock -->
    <section class="bannerSliderBlock bannerSlider w-100 slickSlider text-center text-white">
        <!-- bannerSliderSlide -->
        {% for Banner in banners %}
        <div class="bannerSliderSlide">
            <!-- bannerSlideHolder -->
            <div class="container bannerSlideHolder position-relative">
                <div class="align">
                    <!-- bannerSlideHeader -->
                    <header class="bannerSlideHeader">
                        <h1 class="text-uppercase fwSemiBold fontBase">{{ Banner.text }}</h1>
                        <p>{{ Banner.additional_text|safe }}</p>
                    </header>
                    <!-- btnHolder -->
                    <footer class="btnHolder d-flex flex-wrap justify-content-center">
                        <a href="javascript:void(0);" class="btn btnThemeOutine text-uppercase" data-hover="Подробнее">
                            <span class="d-block btnText">Подробнее</span>
                        </a>
                        <a href="contact2.html" class="btn btnTheme text-uppercase" data-hover="Связаться с нами">
                            <span class="d-block btnText">Связаться с нами</span>
                        </a>
                    </footer>
                </div>
            </div>
            <!-- bannerBlockSlideBg -->
            <span class="bgCover bannerBlockSlideBg d-block position-absolute" style="background-image: url(http://placehold.it/1920x870);">
                <img class="sr-only" src="{{ Banner.image.url }}" alt="image description">
            </span>
        </div>
        {% endfor %}
    </section>
    <!-- aboutIntroBlock -->
    <section class="aboutIntroBlock pb-0 text-center text-lg-left position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="pr-xl-5">
                        {% for About in abouts %}
                        <!-- headingHead -->
                        <header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
                            <!-- blockH -->
                            <h2 class="text-uppercase blockH font-weight-bold">
                                <!-- hTitle -->
                                <strong class="font-weight-normal hTitle d-block fontBase">о нас</strong>
                                <span class="d-block">{{ About.title }}</span>
                            </h2>
                            <p>{{ About.description }}</p>
                        </header>
                        <!-- featuresList -->
                        <ul class="list-unstyled d-flex flex-wrap featuresList text-left wow fadeInUp" data-wow-delay="0.1s">
                            <li>
                                <div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
                                    <i class="{{ About.first_counter_icon }} inaccessible"><span class="sr-only">icon</span></i>
                                    <h3 class="fwSemiBold fontBase counter">{{ About.first_counter }}</h3>
                                    <h4 class="font-weight-normal fontBase">{{ About.first_counter_name }}</h4>
                                </div>
                            </li>
                            <li>
                                <div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
                                    <i class="{{ About.second_counter_icon }} inaccessible"><span class="sr-only">icon</span></i>
                                    <h3 class="fwSemiBold fontBase counter">{{ About.second_counter }}</h3>
                                    <h4 class="font-weight-normal fontBase">{{ About.second_counter_name }}</h4>
                                </div>
                            </li>
                            <li>
                                <div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
                                    <i class="{{ About.third_counter_icon }} inaccessible"><span class="sr-only">icon</span></i>
                                    <h3 class="fwSemiBold fontBase counter">{{ About.third_counter }}</h3>
                                    <h4 class="font-weight-normal fontBase">{{ About.third_counter_name }}</h4>
                                </div>
                            </li>
                            <li>
                                <div class="wrap w-100 hasOver bgWhite hasShadow rounded position-relative">
                                    <i class="{{ About.fourth_counter_icon }} inaccessible"><span class="sr-only">icon</span></i>
                                    <h3 class="fwSemiBold fontBase counter">{{ About.fourth_counter }}</h3>
                                    <h4 class="font-weight-normal fontBase">{{ About.fourth_counter_name }}</h4>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-lg-4 position-static">
                    <!-- widgetQuoteFormCollapse -->
                    <div class="collapse widgetQuoteFormCollapse" id="collapseQuoteForm">
                        <!-- widgetForm -->
                        <aside class="widget widgetForm bg-white hasShadow rounded text-left mb-0">
                            <form action="#">
                                <!-- widgetFormtHead -->
                                <header class="widgetFormtHead d-flex position-relative">
                                    <i class="icn ti-headphone-alt d-flex align-items-center justify-content-center flex-shrink-0"><span class="sr-only">icon</span></i>
                                    <div class="wrap">
                                        <strong class="textTitle d-block font-weight-normal">Lorem ipsum dolor sit amet</strong>
                                        <h3 class="font-weight-bold">Request A Quote</h3>
                                    </div>
                                </header>
                                <!-- form group -->
                                <div class="form-group">
                                    <input type="text" class="form-control d-block w-100" placeholder="Your Name">
                                </div>
                                <!-- form group -->
                                <div class="form-group">
                                    <input type="tel" class="form-control d-block w-100" placeholder="Phone:">
                                </div>
                                <!-- form group -->
                                <div class="form-group">
                                    <select class="custom-select">
                                        <option>Choose Subject</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <!-- form group -->
                                <div class="form-group">
                                    <textarea class="form-control d-block w-100" placeholder="Message"></textarea>
                                </div>
                                <!-- button -->
                                <button type="submit" class="btn btnTheme text-uppercase d-block w-100" data-hover="submit now">
                                    <span class="d-block btnText">Submit Now</span>
                                </button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- quoteFormOpener -->
        <a class="btn btnTheme quoteFormOpener ti-angle-left d-lg-none" data-toggle="collapse" href="#collapseQuoteForm" role="button" aria-expanded="false" aria-controls="collapseQuoteForm"><span class="sr-only">open</span></a>
    </section>
    <!-- servicesBlock -->
    <section class="contentBlock servicesBlock text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                    <!-- headingHead -->
                    <header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
                        <!-- blockH -->
                        <h2 class="text-uppercase blockH font-weight-bold">
                            <!-- hTitle -->
                            <strong class="font-weight-normal hTitle d-block fontBase">Услуги</strong>
                            <span class="d-block">Что мы можем?</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </header>
                </div>
            </div>
            <!-- svColsRow -->
            <div class="row justify-content-center svColsRow no-gutters wow fadeInUp" data-wow-delay="0.1s">
                {% for Service in services %}
                <div class="col-12 col-md-4 d-md-flex col">
                    <!-- serviceColumn -->
                    <article class="serviceColumn d-md-flex align-items-md-center justify-content-md-center position-relative hasOver mb-0">
                        <div class="align">
                            <i class="{{ Service.icon }} d-block"><span class="sr-only">icon</span></i>
                            <h3>{{ Service.name }}</h3>
                            <p>{{ Service.description }}</p>
                        </div>
                        <!-- columnBgCover -->
                        <span class="bgCover columnBgCover d-block position-absolute" style="background-image: url(http://placehold.it/395x260);">
                            <img class="sr-only" src="http://placehold.it/395x260" alt="image description">
                        </span>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- stepsDescrBlock -->
    <section class="bg-light stepsDescrBlock text-center contentBlock">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                    <!-- headingHead -->
                    <header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
                        <!-- blockH -->
                        <h2 class="text-uppercase blockH font-weight-bold">
                            <!-- hTitle -->
                            <strong class="font-weight-normal hTitle d-block fontBase">Шаги</strong>
                            <span class="d-block">Как это работает!</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </header>
                </div>
            </div>
            <!-- stepsGuideList -->
            <ul class="list-unstyled position-relative stepsGuideList d-md-flex justify-content-md-center wow fadeInUp" data-wow-delay="0.1s">
                <li class="hasOver">
                    <i class="icn rounded-circle mx-auto text-dark bg-white ti-search d-flex align-items-center justify-content-center"><span class="sr-only">icon</span></i>
                    <h3>Search Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                </li>
                <li class="hasOver">
                    <i class="icn rounded-circle mx-auto text-dark bg-white ti-calendar d-flex align-items-center justify-content-center"><span class="sr-only">icon</span></i>
                    <h3>Book Cover Design</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium.</p>
                </li>
                <li class="hasOver">
                    <i class="icn rounded-circle mx-auto text-dark bg-white ti-pencil-alt d-flex align-items-center justify-content-center"><span class="sr-only">icon</span></i>
                    <h3>Make Your Design</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto enim ipsam.</p>
                </li>
            </ul>
        </div>
    </section>
    <!-- prejectsListingBlock -->
    <section class="contentBlock prejectsListingBlock">
        <div class="container">
            <!-- filterRowWrap -->
            <div class="row align-items-md-end filterRowWrap wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-12 col-md-4">
                    <!-- headingHead -->
                    <header class="headingHead">
                        <!-- blockH -->
                        <h2 class="text-uppercase blockH font-weight-bold mb-0">
                            <!-- hTitle -->
                            <strong class="font-weight-normal hTitle d-block fontBase">Project</strong>
                            <span class="d-block">Our Work</span>
                        </h2>
                    </header>
                </div>
                <div class="col-12 col-md-8">
                    <!-- filterList -->
                    <ul class="list-unstyled filterList d-md-flex justify-content-md-end position-relative isoFiltersList text-capitalize">
                        <li class="active"><a href="#">View All</a></li>
                        <li><a href="javascript:void(0);" data-filter=".vintage">Vintage</a></li>
                        <li><a href="javascript:void(0);" data-filter=".morden">Morden</a></li>
                        <li><a href="javascript:void(0);" data-filter=".minimal">Minimal</a></li>
                        <li><a href="javascript:void(0);" data-filter=".coastal">Coastal</a></li>
                    </ul>
                </div>
            </div>
            <!-- isoContentHolder -->
            <div class="isoContentHolder row">
                <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 col-md-6 col-lg-4 isoCol vintage">
                        <!-- prPostColumn -->
                        <article class="prPostColumn hasOver position-relative">
                            <!-- prColumnBgCover -->
                            <span class="bgCover prColumnBgCover d-block" style="background-image: url(http://placehold.it/370x250);">
                                <img class="sr-only" src="http://placehold.it/370x250" alt="image description">
                            </span>
                            <!-- prPostCaption -->
                            <div class="prPostCaption bg-white rounded">
                                <h3>
                                    <!-- hTitle -->
                                    <strong class="font-weight-normal hTitle d-block fontBase">Coastal</strong>
                                    <span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 isoCol minimal">
                        <!-- prPostColumn -->
                        <article class="prPostColumn hasOver position-relative">
                            <!-- prColumnBgCover -->
                            <span class="bgCover prColumnBgCover d-block" style="background-image: url(http://placehold.it/370x250);">
                                <img class="sr-only" src="http://placehold.it/370x250" alt="image description">
                            </span>
                            <!-- prPostCaption -->
                            <div class="prPostCaption bg-white rounded">
                                <h3>
                                    <!-- hTitle -->
                                    <strong class="font-weight-normal hTitle d-block fontBase">Vintage</strong>
                                    <span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 isoCol vintage">
                        <!-- prPostColumn -->
                        <article class="prPostColumn hasOver position-relative">
                            <!-- prColumnBgCover -->
                            <span class="bgCover prColumnBgCover d-block" style="background-image: url(http://placehold.it/370x250);">
                                <img class="sr-only" src="http://placehold.it/370x250" alt="image description">
                            </span>
                            <!-- prPostCaption -->
                            <div class="prPostCaption bg-white rounded">
                                <h3>
                                    <!-- hTitle -->
                                    <strong class="font-weight-normal hTitle d-block fontBase">Vintage</strong>
                                    <span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 isoCol coastal">
                        <!-- prPostColumn -->
                        <article class="prPostColumn hasOver position-relative">
                            <!-- prColumnBgCover -->
                            <span class="bgCover prColumnBgCover d-block" style="background-image: url(http://placehold.it/370x250);">
                                <img class="sr-only" src="http://placehold.it/370x250" alt="image description">
                            </span>
                            <!-- prPostCaption -->
                            <div class="prPostCaption bg-white rounded">
                                <h3>
                                    <!-- hTitle -->
                                    <strong class="font-weight-normal hTitle d-block fontBase">Minimal</strong>
                                    <span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 isoCol vintage">
                        <!-- prPostColumn -->
                        <article class="prPostColumn hasOver position-relative">
                            <!-- prColumnBgCover -->
                            <span class="bgCover prColumnBgCover d-block" style="background-image: url(http://placehold.it/370x250);">
                                <img class="sr-only" src="http://placehold.it/370x250" alt="image description">
                            </span>
                            <!-- prPostCaption -->
                            <div class="prPostCaption bg-white rounded">
                                <h3>
                                    <!-- hTitle -->
                                    <strong class="font-weight-normal hTitle d-block fontBase">Vintage</strong>
                                    <span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
                                </h3>
                            </div>
                        </article>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 isoCol morden">
                        <!-- prPostColumn -->
                        <article class="prPostColumn hasOver position-relative">
                            <!-- prColumnBgCover -->
                            <span class="bgCover prColumnBgCover d-block" style="background-image: url(http://placehold.it/370x250);">
                                <img class="sr-only" src="http://placehold.it/370x250" alt="image description">
                            </span>
                            <!-- prPostCaption -->
                            <div class="prPostCaption bg-white rounded">
                                <h3>
                                    <!-- hTitle -->
                                    <strong class="font-weight-normal hTitle d-block fontBase">Morden</strong>
                                    <span class="d-block"><a href="project-details2.html">Kitchen furniture for you.</a></span>
                                </h3>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- clientsTestimonialBlock -->
    <section class="bg-light clientsTestimonialBlock text-center text-md-left position-relative contentBlock">
        <div class="container">
            <div class="row no-gutters wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-12 offset-md-6 col-md-6">
                    <!-- clientsTestimonialBlockHolder -->
                    <div class="clientsTestimonialBlockHolder">
                        <!-- headingHead -->
                        <header class="headingHead">
                            <!-- blockH -->
                            <h2 class="text-uppercase blockH font-weight-bold mb-0">
                                <!-- hTitle -->
                                <strong class="font-weight-normal hTitle d-block fontBase">Testimonials</strong>
                                <span class="d-block">Happy Clients</span>
                            </h2>
                        </header>
                        <!-- testimonialSingleSlider -->
                        <div class="testimonialSingleSlider slickSlider">
                            <div>
                                <!-- clientQuote -->
                                <blockquote class="clientQuote mb-0">
                                    <q class="d-block">
                                        <!-- quoteTitle -->
                                        <strong class="font-weight-normal d-block quoteTitle text-dark">In today's world, its important to harness technology to.</strong>
                                        <span class="d-block">My order arrived today, as per your e-mail. Thanks to you and everyone at Utility Design for such great service, prices and choice. Good luck with your business.</span>
                                    </q>
                                    <div class="d-flex align-items-start justify-content-between align-items-center">
                                        <!-- cite -->
                                        <cite class="wrap d-block text-left">
                                            <strong class="h3 d-block text-capitalize"><a href="javascript:void(0);">John Martin</a></strong>
                                            <em class="h5 d-block font-weight-normal">Deercreative</em>
                                        </cite>
                                        <!-- ratingStarList -->
                                        <ul class="list-unstyled ratingStarList d-flex mb-1 ml-2 flex-shrink-0">
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </blockquote>
                            </div>
                            <div>
                                <!-- clientQuote -->
                                <blockquote class="clientQuote mb-0">
                                    <q class="d-block">
                                        <!-- quoteTitle -->
                                        <strong class="font-weight-normal d-block quoteTitle text-dark">In today's world, its important to harness technology to.</strong>
                                        <span class="d-block">My order arrived today, as per your e-mail. Thanks to you and everyone at Utility Design for such great service, prices and choice</span>
                                    </q>
                                    <div class="d-flex align-items-start justify-content-between align-items-center">
                                        <!-- cite -->
                                        <cite class="wrap d-block text-left">
                                            <strong class="h3 d-block text-capitalize"><a href="javascript:void(0);">Martin</a></strong>
                                            <em class="h5 d-block font-weight-normal">Ceo-Deercreative</em>
                                        </cite>
                                        <!-- ratingStarList -->
                                        <ul class="list-unstyled ratingStarList d-flex mb-1 ml-2 flex-shrink-0">
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </blockquote>
                            </div>
                            <div>
                                <!-- clientQuote -->
                                <blockquote class="clientQuote mb-0">
                                    <q class="d-block">
                                        <!-- quoteTitle -->
                                        <strong class="font-weight-normal d-block quoteTitle text-dark">In today's world, its important to harness technology to.</strong>
                                        <span class="d-block">Thanks to you and everyone at Utility Design for such great service, prices and choice. Good luck with your business. Design for such great service, prices and choice</span>
                                    </q>
                                    <div class="d-flex align-items-start justify-content-between align-items-center">
                                        <!-- cite -->
                                        <cite class="wrap d-block text-left">
                                            <strong class="h3 d-block text-capitalize"><a href="javascript:void(0);">John</a></strong>
                                            <em class="h5 d-block font-weight-normal">Ceo</em>
                                        </cite>
                                        <!-- ratingStarList -->
                                        <ul class="list-unstyled ratingStarList d-flex mb-1 ml-2 flex-shrink-0">
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li class="active"><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <!-- separator -->
                        <hr class="separator">
                        <!-- testimonialSwitcherSlider -->
                        <div class="testimonialSwitcherSlider slickSlider">
                            <div>
                                <!-- testimonialSwitcherPicWrap -->
                                <div class="rounded-circle testimonialSwitcherPicWrap position-relative">
                                    <img class="w-100 h-100 d-block rounded-circle" src="http://placehold.it/55x55" alt="John Martin Ceo-Deercreative">
                                </div>
                            </div>
                            <div>
                                <!-- testimonialSwitcherPicWrap -->
                                <div class="rounded-circle testimonialSwitcherPicWrap position-relative">
                                    <img class="w-100 h-100 d-block rounded-circle" src="http://placehold.it/55x55" alt="John Martin Ceo-Deercreative">
                                </div>
                            </div>
                            <div>
                                <!-- testimonialSwitcherPicWrap -->
                                <div class="rounded-circle testimonialSwitcherPicWrap position-relative">
                                    <img class="w-100 h-100 d-block rounded-circle" src="http://placehold.it/55x55" alt="John Martin Ceo-Deercreative">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- videoBlockWrap -->
                <a data-fancybox="true" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="videoBlockWrap hasOver lightbox hasOverlay d-none d-md-block">
                    <!-- btnPlay -->
                    <span class="btnPlay position-absolute rounded-circle d-flex align-items-center justify-content-center">
                        <span class="sr-only">play</span>
                    </span>
                    <!-- videoBlockBgCover -->
                    <span class="bgCover videoBlockBgCover d-block position-absolute" style="background-image: url(http://placehold.it/960x600);">
                        <img class="sr-only" src="http://placehold.it/960x600" alt="image description">
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!--
    <section class="contentBlock ltPostsBlock">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 text-center">
                    <header class="headingHead wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="text-uppercase blockH font-weight-bold">
                            <strong class="font-weight-normal hTitle d-block fontBase">Blog</strong>
                            <span class="d-block">Latest Post</span>
                        </h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                    </header>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="ltPostColumn hasOver">
                        <div class="aligncenter position-relative">
                            <img src="http://placehold.it/370x240" alt="image description">
                        </div>
                        <div class="descriptionWrap d-md-flex align-items-md-start">
                            <time datetime="2011-01-12" class="d-inline-block d-md-block time flex-shrink-0 rounded text-white text-center">
                                <strong class="fwSemiBold d-md-block textLarge">18</strong>
                                <span class="d-md-block">June</span>
                            </time>
                            <div class="wrap">
                                <h3><a href="blog-detail.html">17 Stunning Ways Upgrade Kitchen</a></h3>
                                <p>White kitchens are classic. They're bright, clean</p>
                                <a href="blog-detail.html" class="btnMore d-inline-block">Details <i class="icn ei_arrow_right"><span class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="ltPostColumn hasOver">
                        <div class="aligncenter position-relative">
                            <img src="http://placehold.it/370x240" alt="image description">
                        </div>
                        <div class="descriptionWrap d-md-flex align-items-md-start">
                            <time datetime="2011-01-12" class="d-inline-block d-md-block time flex-shrink-0 rounded text-white text-center">
                                <strong class="fwSemiBold d-md-block textLarge">27</strong>
                                <span class="d-md-block">June</span>
                            </time>
                            <div class="wrap">
                                <h3><a href="blog-detail.html">10 Totally Unique Ways To Tile Your Kitchen</a></h3>
                                <p>You might be focusing on men acksplashes cabinetry </p>
                                <a href="blog-detail.html" class="btnMore d-inline-block">Details <i class="icn ei_arrow_right"><span class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="ltPostColumn hasOver">
                        <div class="aligncenter position-relative">
                            <img src="http://placehold.it/370x240" alt="image description">
                        </div>
                        <div class="descriptionWrap d-md-flex align-items-md-start">
                            <time datetime="2011-01-12" class="d-inline-block d-md-block time flex-shrink-0 rounded text-white text-center">
                                <strong class="fwSemiBold d-md-block textLarge">5</strong>
                                <span class="d-md-block">July</span>
                            </time>
                            <div class="wrap">
                                <h3><a href="blog-detail.html">Rich Blue-Greens and Stone Surfaces</a></h3>
                                <p>White kitchens can get basic, fast de-blandify your kitch</p>
                                <a href="blog-detail.html" class="btnMore d-inline-block">Details <i class="icn ei_arrow_right"><span class="sr-only">icon</span></i></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section> -->
</main>

{% endblock %}